.BreakTimer{
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #5105b3;
    display: flex;
    justify-content: center;
    align-items: center;
    float:left;
}
body{
    background-image: url("hero-interior.png");
    background-color: black;
}
button{
    background-color: rgb(225, 0, 255);
    font-size: large;
    border: 2px solid whitesmoke;
    width: 10.5%;
    margin-bottom: -30px;
    box-shadow: 0 8px 10px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    display:flex;
}
button:hover{
    background-color:rgb(190, 102, 207);
    color: white;
}
.waterbreak{
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #5105b3; 
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    float:right;
    margin-bottom: 100px;
}
#water{
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.circle {
    background: lightblue;
    border-radius: 50%;
    width: 300px;
    height: 250px;
}